/*
    Theme Name: Agus Defrian
    Theme URI: https://agusdefrian.com/demo
    Author: agusdefrian
    Author URI: http://www.agusdefrian.com/
    Description: Theme Designed for learning
    Version: 1.0.4
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks
    Text Domain: agus-defrian
    Requires at least: 5.0
    Tested up to: 5.4
    Requires PHP: 7.0
*/

/* Globals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    background-color: #fff;
}

body {
    background-color:#16191b;
    
}

.wp-caption {

}
.wp-caption-text {

}
.gallery-caption {

}
.bypostauthor{

}
.alignright {
    text-align: right;
}
.alignleft {
    text-align: left;
}
.aligncenter {
    text-align: center;
}
/* Header */
.site-header {
    background-color: #fff;
}

.search-form {
    padding: 9.6px 16px;
}

.header-content {
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgray;
}

img {
    max-width: 100%;
    height: auto;
    width: 5rem;
}


.navbar-nav .nav-item .nav-link {
    padding: 9.6px 16px;
    font-size: 1.2rem;
}

/* Blog */
.card-image {
    height: 200px;
    object-fit: cover;
}

/* Footer */
.site-footer {
    background-color: #212529;
    position: relative;
}

.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu li {
    padding: 0.3rem 0;
}

.footer-menu h3 {
    padding: 0.5rem 0;
}

.footer-menu li:last-of-type {
    padding-bottom: 1rem;
}

.footer-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    transition: 0.2 ease all;
}

.footer-menu ul li a:hover {
    color: #BBBBBB;
}

.footer-menu input[type="text"] {
    padding: 5px 10px;
    outline: none;
}

.footer-menu input[type="submit"] {
    padding: 6px 10px;
    background: transparent;
    border: 1px solid cyan;
    color: white;
    transition: 0.2s ease all;
}

.footer-menu input[type="submit"]:hover {
    cursor: pointer;
    background: cyan;
    color: black;
}
